<html><head></head>
<body>
    <div class="container-fluid"> 
        <div class="row " style="margin-top: 20px;">
            <div class="col-lg-3">
            
            </div>
            <div class="col-lg-6 col-sm-12">
               <form action="" style="text-align:center">
                <h1 class="heading" id="heading" >SIGN UP</h1><br>
                Name:<input type="text" ><br>
                Username:<input  type="text" ><br>
                Email:<input type="text" ><br>
                Gender:
                <label for="">Female</label>
                <input id="gender" checked="true" type="radio" name="gender"><br><br>
                <label for="">Male</label>
                <input id="gender"  type="radio" name="gender"><br><br>
                Country: <select>
                    <option>India</option>
                    <option>China</option>
                    <option>Russia</option>
                    <option>Autralia</option>
                </select>
                Password:<input type="text"><br><br>
                <button type="button"  class="btn btn-primary" >Submit</button>
               </form>
            </div>
            <div class="col-lg-3">
            </div>
            
        </div>
    </div>
</body></html>